/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 40%;
  padding: 1em 0 0 3em;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#search_file {
	width: 80%;
}

#ticket_search_bar {
  margin-bottom: 1.5em;
}

#search_result {
  margin: -1em 0 0.5em 1em;
}

#search_result_error {
  margin-left: 1em;
}

.result_description {
  padding-bottom: 1em;
}